@font-face {
    font-family: Renogare;
    src:
    url("https://everestapi.github.io/fonts/Renogare-Regular.woff") format("woff"),
    url("https://everestapi.github.io/fonts/Renogare-Regular.otf") format("opentype");
}
  

body {
    font-family: Renogare, sans-serif;
    background-color: var(--main-bg-color);
}

#gameImage {
    max-width: 512px;
    height: 280px;
    /*margin-bottom: 5px; for overflow scroll bar specifically on mobile phones */
}

.fade-out {
    opacity: 1;
    transition: 1s opacity;
}

.wrap-text { 
    white-space: normal !important;
    overflow-wrap: break-word;
}
  